In [20]:
a="Hello World"
print(a)
a="My name is Talha"
print(a[0])
print("Talha" in a)

Hello World
M
True

In [29]:
for x in a:
    print(x,end='')
print("\n")
for x in a:
    if x=='a':
        print(x)

My name is Talha

a
a
a

In [117]:
b=a
b=b.split(" ")
print (b,"\n",a)

['My', 'name', 'is', 'Talha']
 My name is Talha

In [30]:
print(len(a))

16

In [148]:
c=''
if "Talha" in a:
    print(a)
for x in b:
    if "Talha"not in x:
        c+=x
        print(x)
c

My name is Talha
My
name
is

'Mynameis'

In [52]:
print(a)
a[-1::-1]

My name is Talha

'ahlaT si eman yM'

In [53]:
a.strip()

'My name is Talha'

In [55]:
print(a.replace('a','i'))
print(a)

My nime is Tilhi
My name is Talha

In [72]:
age=22
print(a+" "+str(age))
x=input("Enter ur name")
sent="My name is {} and my age is {}"

print(sent.format(x,age))

My name is Talha 22
Enter ur nameTalha
My name is Talha and my age is 22

In [86]:
txt = 'We are\'s gona \"enjoy\" this' 
print(txt)

We are's gona "enjoy" this

In [101]:
print(a)
print(a.capitalize())
print(a.casefold())
print(a.center(5,"x"))
print(a.count('a'))
print(a.encode())

My name is Talha
My name is talha
my name is talha
My name is Talha
3
b'My name is Talha'

In [155]:
str2 = ''
a=0
print(len(b))
for i in b:
    if "is" not in i:
        str2 = str2 + i
        a=1
    if a==1:
        str2+=" "
        a=0
    
print("The Final String : Str2  = ", str2)

4
The Final String : Str2  =  My name Talha